@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Playfair Display SC';
    src: url('./assets/fonts/PlayfairDisplaySC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }